
body{
    background: var(--background-color);
}

.header{
    width: 100%;
    height: 126px;
    background: linear-gradient(180deg, #f53d2d, #f63);
    position: fixed;
    top: 0;
    z-index: 1;
}

.header .navbar{
    display: flex;
    justify-content: space-between;
}

.header .navbar ul{
    margin: 0;
    padding: 0;
}

.header .navbar__items{
    display: inline-block;
    list-style: none;
    line-height: 1.5;
    margin: 8px;
    color: var(--white-color);
    position: relative;
}

.header .navbar__items a{
    text-decoration: none;
    color: var(--white-color);
}

.header .navbar__items i{
    display: inline-block;
    margin: 4px;
}

.header .navbar__items-separate::after{
    content: "";
    height: 12px;
    border-right: 1px solid #fb9182;
    position: relative;
    left: 9px;
}

.header .notify{
    margin-top: 12px;
    width: 428px;
    background-color: var(--white-color);
    position: absolute;
    right: 0;
    z-index: 1;
    border: .1px solid #eee;
    border-radius: 2px;
    display: none;
}

.header .navbar__items-notify:hover .notify{
    display: block;
}

.header .notify__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
}

.header .notify__info .notify__info-img{
    width: 10rem;
    height: 10rem;
    background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/99e561e3944805a023e87a81d4869600.png);
    background-size: contain;
}

.header .notify__info p{
    color: var(--black-color);
}

.header .notify__nav{
    height: 4.8rem;
    background-color: #eee;
    display: flex;
}

.header .notify .notify__nav-link{
    color: var(--black-color);
    line-height: 4.8rem;
    flex: 1;
    text-align: center;
}

.header .notify__nav-link:hover{
    color: #f53d2d;
    background-color: #ccc;
}

.header .navbar__items .languages{
    position: absolute;
    right: 0;
    margin-top: 12px;
    width: 214px;
    border: 0.1px solid #eee;
    border-radius: 2px;
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
}

.header .navbar__items .languages__item{
    width: 100%;
    padding-left: 1.6rem;
    flex: 1;
    line-height: 4rem;
    color: var(--black-color);
    background-color: var(--white-color);
}

.header .navbar__items:hover .navbar__items-info{
    opacity: 0.8;
    cursor: pointer;
}

.header .navbar__items-lang:hover .navbar__items-info{
    opacity: 0.8;
    cursor: pointer;
}

.header .navbar__items-lang:hover .languages{
    display: flex;
}

.header .navbar__items .languages__item:hover{
    color: #f53d2d;
    background-color: #eee;
    cursor: pointer;
}

.header .container{
    position: relative;
}

.header .container__row{
    margin-top: 12px;
    display: inline-block;
}

.header .container__logo{
    width: 140px;
    height: 42px;
    margin-left: 8px;
    margin-right: 48px;
}

.header .container__search{
    width: 72%;
    height: 42px;
    border-radius: 3px;
    background-color: var(--white-color);
    margin: 0 auto;
    position: relative;
}

.header .container__search-input{
    position: absolute;
    left: 0;
    right: 70px;
    height: 100%;
    border: none;
    border-radius: 3px;
    text-indent: 16px;
}

.header .container__search button{
    width: 64px;
    color: var(--white-color);
    background-color: #f53d2d;
    border: none;
    border-radius: 3px;
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 3px;
}

.header .container__search button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.header .container__shopcart{
    margin-left: 24px; 
    position: absolute;
    top: 12px;
    right: 48px;
}

.header .container__shopcart .fa-cart-shopping{
    font-size: 3rem;
    color: var(--white-color);
}

.header .suggest__links{
    margin-left: 196px;
    width: 72%;
    display: flex;
    justify-content: space-between;
}

.header .suggest__links .suggest__links-item{
    margin: 2px;
    text-decoration: none;
    color: var(--white-color);
}

/* Begin: Slider */

.slider{
    margin-top: 126px;
    padding-top: 32px;
    background: var(--white-color);
}

.slider .container{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
}

.slider .container__suggest-banner{
    width: 100%;
    height: 100%;
    background-image: url(https://cf.shopee.vn/file/vn-50009109-1e250702a3b6bbab7fa100505f60e7c2_xxhdpi);
    background-size: cover;
    flex: 2;
    margin-right: 8px;
}

.slider .container__banner{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slider .container__banner-items{
    width: 100%;
    height: 49%;
    background: #d0a5a5;
}

.slider .container__banner-items:first-child{
    background-image: url(https://cf.shopee.vn/file/vn-50009109-f0207c23044c4b2a4f76011f2f07e75d_xhdpi);
    background-size: cover;
}

.slider .container__banner-items{
    background-image: url(https://cf.shopee.vn/file/vn-50009109-9d0fbc063657e299ee82f057b48855fe_xhdpi);
    background-size: cover;
}

.slider .nav-app{
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
}

.slider .nav-app__items{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48px;
}

.slider .nav-app__items:hover{
    transform: translateY(-2px);
    cursor: pointer;
}

.slider .nav-app__items .nav-app__items-icon{
    display: block;
}

.slider .nav-app__items p{
    text-align: center;
}

/* Begin: Derectory */

.directory{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    background: var(--white-color);
}

.directory .directory__heading{
    width: 100%;
    margin: 24px;
    font-size: 1.6rem;
    color: #888;
}

.directory .wrapper ul{
    display: flex;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.directory .wrapper__item{
    list-style: none;
    width: 120px;
    border-right: 1px solid rgba(0, 0, 0, .05);
}

.directory .wrapper__item:hover{
    box-shadow: 0 2px 5px 0 #d3d3d3;
}

.directory .wrapper__item-link{
    color: var(--black-color);
    background: var(--white-color);
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directory .wrapper__item-link img{
    display: block;
    width: 70%;
    margin-top: 10%;
}

.directory .wrapper__item-link p{
    display: block;
    width: 88%;
    height: 54px;
    line-height: 2rem;
    text-align: center;
    margin: 0;
    overflow: hidden;
}