
body{
    background: var(--background-color);
}

.header{
    width: 100%;
    height: 126px;
    background: linear-gradient(180deg, #f53d2d, #f63);
    position: fixed;
    top: 0;
    z-index: 1;
}

.header .navbar{
    display: flex;
    justify-content: space-between;
}

.header .navbar ul{
    margin: 0;
    padding: 0;
}

.header .navbar__items{
    display: inline-block;
    list-style: none;
    line-height: 1.5;
    font-size: 1.4rem;
    margin: 8px;
    color: var(--white-color);
}

.header .navbar__items a{
    text-decoration: none;
    color: var(--white-color);
}

.header .navbar__items-separate::after{
    content: "";
    height: 12px;
    border-right: 1px solid #fb9182;
    position: relative;
    left: 9px;
}

.header .container{
    position: relative;
}

.header .container__row{
    margin-top: 12px;
    display: inline-block;
}

.header .container__logo{
    width: 140px;
    height: 42px;
    margin-left: 8px;
    margin-right: 48px;
}

.header .container__search{
    width: 72%;
    height: 42px;
    border-radius: 3px;
    background-color: var(--white-color);
    margin: 0 auto;
    position: relative;
}

.header .container__search-input{
    position: absolute;
    left: 0;
    right: 54px;
    height: 100%;
    border: none;
    border-radius: 3px;
}

.header .container__search button{
    width: 48px;
    color: var(--white-color);
    background-color: #f53d2d;
    border: none;
    border-radius: 3px;
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 3px;
}

.header .container__search button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.header .container__shopcart{
    margin-left: 24px; 
    position: absolute;
    top: 12px;
    right: 48px;
}

.header .container__shopcart .fa-cart-shopping{
    font-size: 3rem;
    color: var(--white-color);
}

/* Begin: Slider */

.slider{
    margin-top: 140px;
    background: var(--white-color);
}

.slider .container{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
}

.slider .container__suggest-banner{
    width: 100%;
    height: 100%;
    background-image: url(https://cf.shopee.vn/file/vn-50009109-1e250702a3b6bbab7fa100505f60e7c2_xxhdpi);
    background-size: cover;
    flex: 2;
    margin-right: 8px;
}

.slider .container__banner{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slider .container__banner-items{
    width: 100%;
    height: 49%;
    background: #d0a5a5;
}

.slider .container__banner-items:first-child{
    background-image: url(https://cf.shopee.vn/file/vn-50009109-f0207c23044c4b2a4f76011f2f07e75d_xhdpi);
    background-size: cover;
}

.slider .container__banner-items{
    background-image: url(https://cf.shopee.vn/file/vn-50009109-9d0fbc063657e299ee82f057b48855fe_xhdpi);
    background-size: cover;
}

.slider .nav-app{
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
}

.slider .nav-app__items{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48px;
}

.slider .nav-app__items:hover{
    transform: translateY(-2px);
    cursor: pointer;
}

.slider .nav-app__items .nav-app__items-icon{
    display: block;
}

.slider .nav-app__items p{
    text-align: center;
}
