
body{
    background: var(--background-color);
}

/* Begin: Header */
.header{
    width: 100%;
    height: 126px;
    background: linear-gradient(180deg, var(--primary-color), #f63);
    position: fixed;
    top: 0;
    z-index: 10;
}

/* Begin: Navigation */
.header .navbar{
    display: flex;
    justify-content: space-between;
}

.header .navbar ul{
    margin: 0;
    padding: 0;
}

.header .navbar__items{
    display: inline-block;
    list-style: none;
    line-height: 1.5;
    margin: 8px;
    margin-bottom: 0;
    color: var(--white-color);
    position: relative;
}

.header .navbar__items:hover .navbar__items-info{
    opacity: 0.8;
    cursor: pointer;
}

.header .navbar__items a{
    text-decoration: none;
    color: var(--white-color);
}

.header .navbar__items i{
    display: inline-block;
    margin: 4px;
}

.header .navbar__items-separate::after{
    content: "";
    height: 12px;
    border-right: 1px solid #fb9182;
    position: relative;
    left: 9px;
}

/* Begin: Notification */
.header .notify{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    display: none;
    transform-origin: calc(100% - 3.6rem) 1rem;
    animation: Growth ease-in 0.2s;
}

.header .notify .notify__wrapper{
    width: 42rem;
    background-color: var(--white-color);
    border: .1px solid #eee;
    border-radius: 2px;
}

.header .notify .triangle__border{
    margin-left: calc(100% - 4.8rem);
    transform: translateY(2px);
}

.header .navbar__items-notify:hover .notify{
    display: block;
}

.header .notify__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
}

.header .notify__info .notify__info-img{
    width: 10rem;
    height: 10rem;
    background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/99e561e3944805a023e87a81d4869600.png);
    background-size: contain;
}

.header .notify__info p{
    color: var(--black-color);
}

.header .notify__nav{
    height: 4.8rem;
    background-color: #eee;
    display: flex;
}

.header .notify .notify__nav-link{
    color: var(--black-color);
    line-height: 4.8rem;
    flex: 1;
    text-align: center;
}

.header .notify__nav-link:hover{
    color: var(--primary-color);
    background-color: #ccc;
}
/* End: Notification */

/* Begin: Swap languages */
.header .navbar__items .languages{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    transform-origin: calc(100% - 5.2rem) 1.2rem;
    animation: Growth ease-in 0.2s;
}

.header .navbar__items .languages .triangle__border{
    margin-left: calc(100% - 6.8rem);
    transform: translateY(2px);
}

.header .navbar__items .languages .languages__wrapper{
    width: 16rem;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: var(--white-color);
}

.header .navbar__items .languages__wrapper-item{
    padding-left: 1.6rem;
    flex: 1;
    line-height: 3.6rem;
    color: var(--black-color);
    background-color: var(--white-color);
}

.header .navbar__items-lang:hover .navbar__items-info{
    opacity: 0.8;
    cursor: pointer;
}

.header .navbar__items-lang:hover .languages{
    display: block;
}

.header .navbar__items .languages__wrapper-item:hover{
    color: var(--primary-color);
    background-color: #eee;
    cursor: pointer;
}
/* End: Swap languages */
/* End: Navigation */

.header .container{
    position: relative;
    margin-top: 8px;
}

.header .container__row{
    margin-top: 12px;
    display: inline-block;
}

.header .container__logo{
    width: 140px;
    height: 42px;
    margin-left: 8px;
    margin-right: 48px;
}

/* Search */
.header .container__search{
    width: 72%;
    height: 42px;
    border-radius: 3px;
    background-color: var(--white-color);
    margin: 0 auto;
    position: relative;
}

.header .container__search-input{
    position: absolute;
    left: 0;
    right: 70px;
    height: 100%;
    border: none;
    border-radius: 3px;
    text-indent: 16px;
}

.header .container__search button{
    width: 64px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 3px;
}

.header .container__search button:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* Shop cart */
.header .container__shopcart{
    margin-left: 24px; 
    position: absolute;
    top: 12px;
    right: 48px;
}

.header .container__shopcart:hover .container__shopcart-wrapper{
    display: block;
}

.header .container__shopcart .fa-cart-shopping{
    font-size: 3rem;
    color: var(--white-color);
}

.header .container__shopcart-wrapper{
    width: 40rem;
    position: absolute;
    top: 50%;
    right: -1.6rem;
    display: none;
    transform-origin: calc(100% - 3.2rem) 1.6rem;
    animation: Growth ease-in 0.2s;
}

.header .container__shopcart-wrapper .triangle__border{
    margin-top: 4px;
    margin-left: calc(100% - 4.6rem);
    transform: translateY(2px);
}

.header .container__shopcart-wrapper__info{
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .container__shopcart-wrapper__info img{
    margin-top: 5rem;
    width: 18rem;
}

.header .container__shopcart-wrapper__info p{
    margin-bottom: 4.8rem;
    color: #7d7d7d;
}

/* Suggest products */
.header .suggest__links{
    margin-left: 196px;
    width: 72%;
    display: flex;
    justify-content: space-between;
}

.header .suggest__links .suggest__links-item{
    margin: 2px;
    text-decoration: none;
    color: var(--white-color);
}
/* End: Header */

/* Begin: Banner advertisement */
.slider{
    margin-top: 126px;
    padding-top: 32px;
    background: var(--white-color);
}

.slider .container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider .container__suggest-banner{
    width: 100%;
    flex: 2;
    margin-right: 8px;
}

.slider .container__banner{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slider .container__banner-items{
    width: 100%;
    height: 49%;
    background: #d0a5a5;
    border-radius: 2px;
}

.slider .container__banner-items:first-child{
    background-image: url(https://cf.shopee.vn/file/vn-50009109-f0207c23044c4b2a4f76011f2f07e75d_xhdpi);
    background-size: cover;
}

.slider .container__banner-items{
    background-image: url(https://cf.shopee.vn/file/vn-50009109-2babd00b13238745f82ccefc434d0dea_xhdpi);
    background-size: cover;
}

.slider .nav-app{
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
}

.slider .nav-app__items{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48px;
    transition: all 0.15s ease;
}

.slider .nav-app__items:hover{
    transform: translateY(-2px);
    cursor: pointer;
}

.slider .nav-app__items .nav-app__items-icon{
    display: block;
}

.slider .nav-app__items p{
    text-align: center;
}
/* End: Banner advertisement*/

/* Begin: Derectory */
.directory{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    background: var(--white-color);
}

.directory .directory__heading{
    width: 100%;
    margin: 24px;
    font-size: 1.6rem;
    color: #888;
}

.directory .wrapper{
    overflow: hidden;
}

.directory .wrapper ul{
    display: flex;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.directory .wrapper__item{
    list-style: none;
    min-width: 120px;
    border-right: 1px solid rgba(0, 0, 0, .05);
    transition: all 0.18s ease;
}

.directory .wrapper__item:hover{
    transform: translateZ(0);
    z-index: 1;
    border-color: rgba(0, 0, 0, .12);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .05);
}

.directory .wrapper__item-link{
    color: var(--black-color);
    background: var(--white-color);
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directory .wrapper__item-link img{
    display: block;
    width: 70%;
    margin-top: 10%;
}

.directory .wrapper__item-link p{
    display: block;
    width: 90%;
    height: 54px;
    line-height: 2rem;
    text-align: center;
    margin: 0;
    overflow: hidden;
}
/* End: Directory */

/* Flashsale */
.flashsale{
    margin-top: 2.4rem;
    background-color: var(--white-color);
}

.flashsale .flashsale__header{
    height: 6.4rem;
    display: flex;
    align-items: center;
}

.flashsale .flashsale__header-icon{
    margin-left: 1.8rem;
    width: 14rem;
    height: 2.6rem;
    transform: translateY(0.4rem);
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/fb1088de81e42c4e538967ec12cb5caa.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.flashsale .flashsale__header-timer{
    margin-left: 1.8rem;
}

.flashsale .flashsale__header-show--more{
    width: 10rem;
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
}

.flashsale .flashsale__header-show--more a{
    text-decoration: none;
    color: var(--primary-color);
}

.flashsale .flashsale__header-show--more i{
    color: var(--primary-color);
}

.flashsale .flashsale__content ul{
    display: flex;
    padding-left: 0;
    margin: 0;
}

.flashsale .product{
    list-style: none;
    position: relative;
    margin: 0 8px;
}

.flashsale .product__link{
    text-decoration: none;
}

.flashsale .product .mall__icon{
    position: absolute;
    top: 5%;
    z-index: 1;
    left: -2px;
}

.flashsale .product .shopee__discount{
    position: absolute;
    top: 0;
    right: 0;
}

.flashsale .product-wrapper .product-wrapper__sale{
    width: 100%;
    height: 100%;
    background: url(https://down-vn.img.susercontent.com/file/vn-50009109-9d40e445862839ea157f67ed5f0f3728_tn);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    top: 0;
}

.flashsale .product-wrapper img{
    width: 18rem;
}

.flashsale .product__info{
    width: 100%;
    margin: 1.6rem 0;
}

.flashsale .product__info .product__info-prime{
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
    margin: 1.2rem 0;
}

.flashsale .product__info .prime-unit{
    margin-bottom: 4px;
    margin-right: 4px;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
}

.flashsale .product__info .product__status{
    width: 90%;
    background: #fdbba4;
    border-radius: 2rem;
    margin: auto;
    position: relative;
}

.flashsale .product__info .product__status-sold{
    width: var(--percent);
    height: 1.8rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/ac7f81d9ee062223753413ec98497a86.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.flashsale .product__info .product__status-content{
    width: 100%;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.flashsale .product__info .product__status-hot--icon{
    width: 2rem;
    height: 2.6rem;
    background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/c5316dd01de2b0d41d267a57f5b32844.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -0.4rem;
    left: 0.4rem;
}
/* End: Flashsale */

.banner-section{
    height: 11rem;
    background: url(https://cf.shopee.vn/file/sg-50009109-52f32ca0219237a87df9cc108e74bdae);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin: 1.8rem 0;
}

.banner-section .banner-section__link{
    display: block;
    flex: 1;
    height: 11rem;
}

/* Top searches */
.top-searches{
    background-color: var(--white-color);
}

.top-searches .top-searches__header{
    height: 6.4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.top-searches .top-searches__header-title{
    color: #ee4d2d;
    margin-left: 1.6rem;
    width: 16rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.top-searches .top-searches__header-show--more{
    width: 10rem;
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
}

.top-searches .top-searches__header-show--more a{
    text-decoration: none;
    color: var(--primary-color);
}

.top-searches .top-searches__header-show--more i{
    color: var(--primary-color);
}

/* Top searches content */
.top-searches .top-searches__content ul{
    display: flex;
    padding-left: 0;
    margin: 0;
}

.top-searches .product{
    list-style: none;
    position: relative;
    margin: 1.6rem 1rem;
}

.top-searches .product__link{
    text-decoration: none;
}

.top-searches .product__link .product__link-badge{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 3.2rem;
    height: 4rem;
    background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/06720e49514cbd94b7552496b4de454a.png) no-repeat;
    background-size: 3.2rem 4rem;
}

.top-searches .product__link .product__link-content{
    width: 18rem;
    height: 18rem;
    position: relative;
}

.top-searches .product__link .product__link-content--info{
    color: var(--white-color);
    background: rgba(0,0,0,.26);
    width: 100%;
    height: 2.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.top-searches .product__link-info{
    width: 100%;
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
    color: #555;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
}
/* End: Top searches */

/* Product suggestions*/
.product-suggest{
    margin-top: 3.2rem;
}

.product-suggest .product-suggest__header{
    width: 100%;
    padding: 1.6rem 0;
    background: var(--white-color);
    border-bottom: 4.6px solid var(--primary-color);
}

.product-suggest .product-suggest__header p{
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    width: 16rem;
    height: 3.2rem;
    line-height: 3.2rem;
    margin: 0 auto;
    text-align: center;
}

.product-suggest .product-suggest__body{
    margin-top: 1.6rem;
}

.product-suggest .product-suggest__body .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-suggest .product{
    width: 18.8rem;
    background: var(--white-color);
    margin-bottom: 1.2rem;
    border: 1px solid #fff;
    transition: all 0.25s ease;
    box-shadow: 0 1px 2px 0 rgba(0 , 0, 0, .1);
    border-radius: 2px;
}

.product-suggest .product:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .05);
    border-radius: 2px;
    border: 1px solid #ee4d2d;
    z-index: 2;
}

.product-suggest .product .product__link{
    text-decoration: none;
    position: relative;
}

.product-suggest .product__content{
    height: 18.6rem;
}

.product-suggest .product__content-badge{
    position: absolute;
    top: 5%;
    left: -2px;
}

.product-suggest .product__content-sale{
    position: absolute;
    top: 0;
    right: 0;
}

.product-suggest .product__content-img{
    width: 100%;
}

.product-suggest .product__content-customized--overlay{
    width: 100%;
    height: 18.6rem;
    z-index: 1;
    position: absolute;
    top: 0;
}

.product-suggest .product__info{
    padding: 0.8rem;
}

.product-suggest .product__info .product__info-heading{
    color: var(--black-color);
    line-height: 1.6rem;
    font-size: 1.2rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-suggest .product__info-sale{
    margin-top: 4px;
    height: 1.6rem;
    display: flex;
    align-items: center;
}

.product-suggest .product__info-sale .product__info-sale--flash{
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 1px 4px;
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.product-suggest .product__info-sale .product__info-sale--badge{
    background: #f69113;
    color: #fff;
    border: 1px solid #f69113;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 1px 4px;
    flex-shrink: 0;
    max-width: 60%;
    margin-right: 4px;
}

.product-suggest .product__info-prime{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
    height: 2rem;
}

.product-suggest .product__info-prime .prime{
    color: var(--primary-color);
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.product-suggest .product__info-prime .prime-unit{
    font-size: 1rem;
    margin-top: 2px;
}

.product-suggest .product__info-prime .sold__count{
    color: #7d7d7d;
}

.product-suggest .product__similar{
    position: fixed;
    z-index: 10;
    width: calc(100% + 1px);
    transform: translateX(-0.5px);
    height: 3.2rem;
    display: none;
    background: #ee4d2d;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-suggest .product__similar .product__similar-link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    line-height: 3.2rem;
}

.product-suggest .product:hover .product__similar{
    display: block;
}

.product-suggest .product-suggest__btn-showmore{
    width: 40rem;
    height: 4.2rem;
    border-radius: 2px;
    border: 1px solid #ccc;
    background: var(--white-color);
    margin: 1.6rem auto;
    text-align: center;
}

.product-suggest .product-suggest__btn-showmore .btn-showmore__link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #555;
    line-height: 4.2rem;
}

.product-suggest .product-suggest__btn-showmore:hover{
    background: #00000005;
}
/* End: Product suggestions */